.tree {
    float: left;
    min-width: 319px;
    border-right: 1px solid silver;
    overflow: auto;
    padding: 0px 0;
}

.tree-default-small>.tree-striped {
    background-size: auto 36px;
}

.tree-default>.tree-striped {
    min-width: 100%;
    display: inline-block;
    background: url('../images/1.png') left top repeat;
}

.tree-node, .tree-children, .tree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.tree-default-small>.tree-container-ul>.tree-node {
    margin-left: 0;
    margin-right: 0;
}

.tree-default-small .tree-last {
    background: 0 0;
}

.tree-default-small .tree-node {
    background-position: -295px -7px;
    background-repeat: repeat-y;
}

.tree-default-small .tree-node {
    min-height: 18px;
    line-height: 18px;
    margin-left: 18px;
    min-width: 18px;
}

.tree-default-small .tree-open .tree-ocl {
    background-position: -135px -7px;
    cursor: pointer;
}

.tree-icon {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center
}
.tree-icon:empty {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center
}

.tree-default-small .tree-node, .tree-default-small .tree-icon {
    background-image: url('../images/32px.png');
}

.tree-default .tree-icon {
    width: 18px;
    height: 18px;
    line-height: 24px
}

.tree-default-small .tree-disabled {
    background: 0 0;
}

.tree-default-small .tree-anchor{
    line-height: 18px;
    height: 18px;
}

.tree-default .tree-disabled {
    color: #666;
}

.tree-default .tree-anchor, .tree-default .tree-wholerow {
    transition: background-color .15s,box-shadow .15s;
}

.tree-anchor, .tree-anchor:link, .tree-anchor:visited, .tree-anchor:hover, .tree-anchor:active {
    text-decoration: none;
}

.tree-anchor {
    display: inline-block;
    color: #000;
    white-space: nowrap;
    padding: 0 4px 0 1px;
    margin: 0;
    vertical-align: top;
}

.tree .folder {
    background: url('../images/file_sprite.png') right bottom no-repeat;
    margin-right: 3px;
}

.tree-default .tree-disabled>.tree-icon {
    opacity: .8;
    -webkit-filter: grayscale(100%);
}

.tree-default-small .tree-icon:empty {
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.tree .tree-open>.tree-children {
    display: block;
}

.tree-default-small .tree-node {
    background-position: -295px -7px;
    background-repeat: repeat-y;
}

.tree-default-small .tree-node {
    min-height: 18px;
    line-height: 18px;
    margin-left: 18px;
    min-width: 18px;
}

.tree-node {
    white-space: nowrap;
}

.tree-default .tree-node, .tree-default .tree-icon {
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.tree-default-small .tree-closed>.tree-ocl {
    background-position: -103px -7px;
}
.tree-default-small .tree-disabled {
    background: 0 0;
}
.tree-default-small .tree-anchor {
    line-height: 18px;
    height: 18px;
}

.tree-anchor{
    position: relative;
    left: -8px;
}

.tree .tree-open>.tree-children {
    display: block;
}

.tree-default-small .tree-last {
    background: 0 0;
}
.tree-default-small .tree-node {
    background-position: -295px -7px;
    background-repeat: repeat-y;
}

.tree-default-small .tree-leaf>.tree-ocl {
    background-position: -71px -7px;
}

.tree-default-small .tree-anchor{
    line-height: 18px;
    height: 18px;
    margin-left: 3px;
    outline: none;
}

.tree-default-small .tree-root{
    line-height: 18px;
    height: 18px;
    text-decoration: none;
    /*position: relative;
    left:-4px;*/
    outline: none;
}

.tree .file {
    background: url('../images/file_sprite.png') 0 0 no-repeat;
    margin-right: 3px;
}

.tree{
    font-size: 10px;
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

.tree-default .tree-hovered {
    background: #e7f4f9;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #ccc
}

.tree-default .tree-anchor:hover{
    background: #e7f4f9;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #ccc
}

.tree-default .tree-clicked {
    background: #beebff!important;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #999!important;
}